-r requirements.txt
asynctest~=0.13
flake8~=4.0
flake8-docstrings~=1.6
mypy==0.961
pylint~=2.15
pylint-strict-informational==0.1
pytest~=7.1
pytest-cov~=3.0
pytest-homeassistant-custom-component>=0.8
