---
name: "Release"

on:
  push:
    tags:
      - "[v0-9]+.[0-9]+*"

jobs:
  release_zip_file:
    name: "Prepare release asset"
    runs-on: ubuntu-latest
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v1

      - working-directory: ./custom_components
        run: |
          echo "package=$(ls -F | grep \/$ | sed -n "s/\///g;1p")" >> $GITHUB_ENV
          echo "release_version=$(git describe --abbrev=0 | sed s/v//)" >> $GITHUB_ENV
      - working-directory: ./custom_components
        run: |
          echo "basedir=$(pwd)/${{ env.package }}" >> $GITHUB_ENV

      - name: "Setup Git"
        if: env.release_version != '' && success()
        run: |
          git config --global user.name "release"
          git config --global user.email "release@GitHub"

      - name: "Zip component dir"
        if: env.release_version != '' && success()
        working-directory: ./custom_components/${{ env.package }}
        run: |
          zip ${{ env.package }}.zip -r ./

      - name: "Upload zip to release"
        if: env.release_version != '' && success()
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.basedir }}/${{ env.package }}.zip
          asset_name: ${{ env.package }}.zip
          tag: ${{ env.release_version }}
          overwrite: true

  releasenotes:
    name: "Prepare releasenotes"
    runs-on: ubuntu-latest
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v1

      - working-directory: ./custom_components
        run: |
          echo "release_version=$(git describe --abbrev=0 | sed s/v//)" >> $GITHUB_ENV

      - name: "Set up Python"
        if: env.release_version != '' && success()
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: "Cache pip"
        uses: actions/cache@v2.1.4
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: "Install requirements"
        if: env.release_version != '' && success()
        run: |
          python3 -m pip install setuptools wheel
          python3 -m pip install -r ./requirements-dev.txt

      - name: "Update release notes"
        if: env.release_version != '' && success()
        run: python3 ./bin/gen_releasenotes --token ${{ secrets.GITHUB_TOKEN }} --repo ${{ github.repository }} --release ${{ env.release_version }}
